<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.tacocloud.mapper.RoleMapper">

    <!--  根据用户查询用户权限  -->
    <select id="findRolesByUsername" parameterType="String" resultType="com.min.tacocloud.entity.Role">
        select role.role_name, role.role_name_Zh from users
        left join user_role on users.username = user_role.username
        left join role on user_role.role_id = role.id;
        <where>
            <if test="username != '' and username != null">
                users.username = #{username}
            </if>
        </where>
    </select>

</mapper>