<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.tacocloud.mapper.TacoIngredientMapper">
    <insert id="addTacoIngredient">
        insert into taco_ingredients (taco_id, ingredient_id) values (#{tacoId}, #{ingredientId})
    </insert>
</mapper>